.setting-modal-main {
  position: absolute;
  right: 0;
  top: 2rem;
  z-index: 20;
}
.settings-modal_open {
  width: 13rem;
  height: 12rem;
  border-radius: 1rem;
  background: linear-gradient(0deg, #e8eef2, #e8eef2),
    linear-gradient(111.78deg, #120f0d 21.38%, #1d1815);
  border: 1px solid #fff;
  box-shadow: 0.625rem 0.6875rem 1rem rgba(0, 0, 0, 0.3),
    inset -1.625rem -0.5625rem 8.125rem hsla(180, 8%, 97%, 0.03);
  font-family: Gilroy;
  padding: 0.0625rem;
  border-top: none;
}
.settings-modal__inner {
  height: 9.22rem;
  background-color: #000;
  padding: 0 7px;
}
.settings-modal__close {
  display: flex;
  justify-content: end;
}
.iconFont {
  margin-right: 2px;
}
.settings-modal__title {
  font-size: 10px;
  color: #fff;
  font-weight: 700;
}

.settings-input__inner {
  margin: 0.4rem 0.5rem;
  background: linear-gradient(318.44deg, #1a1b1f 21.28%, #242a30 141.88%);
  border: 1px solid #fff;
  border-radius: 0.4rem;
  box-shadow: inset 0.125rem 0.1875rem 0.625rem #070709,
    inset -0.125rem -0.125rem 0.625rem hsla(0, 0%, 100%, 0.05);
  padding: 4px 4px;
}
.settings-input__inner label {
  font-size: 8px;
}
.settings-input {
  font-size: 10px;
}
.settings-item {
  display: flex;
  height: 20px;
  align-items: center;
}
.settings-item__icon {
  margin: 0.1rem 0.3rem;
  background: #1a1c20;
  border: 0.0625rem solid hsla(0, 0%, 72%, 0.37);
  margin-right: 0.625rem;
  border-radius: 50%;
}
.settings-item__name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.soun-rane {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  height: 12px;
  color: #000;
  font-size: 11px;
  font-weight: 700;
}
